Node-Red Extension/Flows.json
[{"id":"4817656b.865abc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"52658536.ea6dcc","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_sensor_dht11/humidity","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":200,"y":540,"wires":[["25478110.64d67e","7cbbd00c.8cde6","85cb390d.0dadc8"]]},{"id":"25478110.64d67e","type":"ui_text","z":"4817656b.865abc","group":"79777cb8.fa0f64","order":4,"width":6,"height":1,"name":"Humi","label":"Humidity: ","format":"{{msg.payload}} %","layout":"row-center","x":470,"y":580,"wires":[]},{"id":"cb75817e.fe88c","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_sensor_dht11/temperature","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":210,"y":460,"wires":[["ee36a5bf.e8b608","6bcf5e51.5202b","2ba6a3d2.38627c"]]},{"id":"ee36a5bf.e8b608","type":"ui_text","z":"4817656b.865abc","group":"79777cb8.fa0f64","order":3,"width":6,"height":1,"name":"Temperature","label":"Temperature: ","format":"{{msg.payload}} 째C","layout":"row-center","x":490,"y":440,"wires":[]},{"id":"6bcf5e51.5202b","type":"ui_gauge","z":"4817656b.865abc","name":"Gauge Temp","group":"79777cb8.fa0f64","order":1,"width":6,"height":4,"gtype":"gage","title":"","label":"","format":"{{value}} 째C","min":0,"max":"50","colors":["#00b500","#ff0000","#330089"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"7cbbd00c.8cde6","type":"ui_gauge","z":"4817656b.865abc","name":"Gauge Humi","group":"79777cb8.fa0f64","order":2,"width":6,"height":4,"gtype":"gage","title":"","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#0043ff","#ca3838"],"seg1":"","seg2":"","x":490,"y":520,"wires":[]},{"id":"85cb390d.0dadc8","type":"ui_chart","z":"4817656b.865abc","name":"","group":"79777cb8.fa0f64","order":6,"width":12,"height":6,"label":"Humidity Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#00d2cd","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":640,"wires":[[]]},{"id":"2ba6a3d2.38627c","type":"ui_chart","z":"4817656b.865abc","name":"","group":"79777cb8.fa0f64","order":5,"width":12,"height":6,"label":"Temperature Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#d20000","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":480,"wires":[[]]},{"id":"5e748eee.f1a2c","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_sensor_dht22/humidity","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":780,"y":520,"wires":[["f0a8a005.0e43d","bfe34324.ed14c","85601c6a.87b48"]]},{"id":"f0a8a005.0e43d","type":"ui_text","z":"4817656b.865abc","group":"7d04b590.0499fc","order":4,"width":6,"height":1,"name":"Humi","label":"Humidity: ","format":"{{msg.payload}} %","layout":"row-center","x":1030,"y":600,"wires":[]},{"id":"ad6abe07.c024b","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_sensor_dht22/temperature","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":780,"y":440,"wires":[["2230a500.c2f7bc","f858d02.b01b23","802fc65.fb79938"]]},{"id":"2230a500.c2f7bc","type":"ui_text","z":"4817656b.865abc","group":"7d04b590.0499fc","order":3,"width":6,"height":1,"name":"Temperature","label":"Temperature: ","format":"{{msg.payload}} 째C","layout":"row-center","x":1050,"y":440,"wires":[]},{"id":"f858d02.b01b23","type":"ui_gauge","z":"4817656b.865abc","name":"Gauge Temp","group":"7d04b590.0499fc","order":1,"width":6,"height":4,"gtype":"gage","title":"","label":"","format":"{{value}} 째C","min":0,"max":"50","colors":["#00b500","#e60000","#ca3838"],"seg1":"","seg2":"","x":1050,"y":400,"wires":[]},{"id":"bfe34324.ed14c","type":"ui_gauge","z":"4817656b.865abc","name":"Gauge Humi","group":"7d04b590.0499fc","order":2,"width":6,"height":4,"gtype":"gage","title":"","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#00dcff","#ca3838"],"seg1":"","seg2":"","x":1050,"y":540,"wires":[]},{"id":"85601c6a.87b48","type":"ui_chart","z":"4817656b.865abc","name":"","group":"7d04b590.0499fc","order":6,"width":12,"height":6,"label":"Humidity Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#00d2cd","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1060,"y":660,"wires":[[]]},{"id":"802fc65.fb79938","type":"ui_chart","z":"4817656b.865abc","name":"","group":"7d04b590.0499fc","order":5,"width":12,"height":6,"label":"Temperature Chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#d20000","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":480,"wires":[[]]},{"id":"993f795a.1cb3c8","type":"ui_switch","z":"4817656b.865abc","name":"Switch_1","label":"Switch_1","tooltip":"","group":"47614173.4da9b","order":1,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":160,"y":680,"wires":[["4bb9985a.254e48"]]},{"id":"7ea56950.ac99e8","type":"ui_switch","z":"4817656b.865abc","name":"Switch_2","label":"Switch_2","tooltip":"","group":"47614173.4da9b","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"3","offvalueType":"num","officon":"","offcolor":"","x":160,"y":720,"wires":[["4bb9985a.254e48"]]},{"id":"fa9b9e3a.09602","type":"ui_switch","z":"4817656b.865abc","name":"Switch_3","label":"Switch_3","tooltip":"","group":"47614173.4da9b","order":3,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"num","onicon":"","oncolor":"","offvalue":"5","offvalueType":"num","officon":"","offcolor":"","x":160,"y":760,"wires":[["4bb9985a.254e48"]]},{"id":"9d9ab633.aa6c38","type":"ui_switch","z":"4817656b.865abc","name":"Switch_4","label":"Switch_4","tooltip":"","group":"47614173.4da9b","order":4,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6","onvalueType":"num","onicon":"","oncolor":"","offvalue":"7","offvalueType":"num","officon":"","offcolor":"","x":160,"y":800,"wires":[["4bb9985a.254e48"]]},{"id":"4bb9985a.254e48","type":"mqtt out","z":"4817656b.865abc","name":"","topic":"Maker_relay","qos":"","retain":"","broker":"8a1e6599.96d0d8","x":380,"y":740,"wires":[]},{"id":"8e126cb0.d4414","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_VC","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":160,"y":900,"wires":[["c5e77e5f.6c303","71ae0b79.e70504"]]},{"id":"fdf8f670.a8c7d8","type":"ui_text","z":"4817656b.865abc","group":"3282ea3f.f75246","order":1,"width":10,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":900,"wires":[]},{"id":"1786f6c9.c12489","type":"ui_text","z":"4817656b.865abc","group":"3282ea3f.f75246","order":2,"width":1,"height":1,"name":"","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-right","x":510,"y":840,"wires":[]},{"id":"c5e77e5f.6c303","type":"function","z":"4817656b.865abc","name":"test","func":"msg.color = (msg.payload == \"ON\") ? \"lime\" : \"red\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":840,"wires":[["1786f6c9.c12489"]]},{"id":"3f0475db.8c241a","type":"ui_text","z":"4817656b.865abc","group":"802d2385.2d5a9","order":1,"width":12,"height":1,"name":"Smoke","label":"","format":"Smoke: {{msg.payload}}","layout":"row-left","x":360,"y":1140,"wires":[]},{"id":"627a5931.cfe538","type":"ui_text","z":"4817656b.865abc","group":"802d2385.2d5a9","order":3,"width":1,"height":1,"name":"Color Smoke","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-right","x":510,"y":1180,"wires":[]},{"id":"a78a61f6.413d1","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_MQ2_Smoke","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":170,"y":1140,"wires":[["3f0475db.8c241a","14ff2c36.ec3e04","83924fce.0322"]]},{"id":"4b1a9f1e.8a6f7","type":"mqtt in","z":"4817656b.865abc","name":"","topic":"Maker_PIR","qos":"2","datatype":"auto","broker":"8a1e6599.96d0d8","x":160,"y":1000,"wires":[["d4d42ba9.467758","7e51be34.2e069"]]},{"id":"4b431150.5bf0e","type":"ui_text","z":"4817656b.865abc","group":"4d1ac63c.a37318","order":1,"width":10,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":530,"y":1000,"wires":[]},{"id":"d4d42ba9.467758","type":"function","z":"4817656b.865abc","name":"test","func":"msg.color = (msg.payload == \"ON\") ? \"lime\" : \"red\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":960,"wires":[["b3538a59.d6aaf8"]]},{"id":"b3538a59.d6aaf8","type":"ui_text","z":"4817656b.865abc","group":"4d1ac63c.a37318","order":2,"width":1,"height":1,"name":"","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-right","x":530,"y":960,"wires":[]},{"id":"7e51be34.2e069","type":"function","z":"4817656b.865abc","name":"test","func":"if(msg.payload == \"ON\"){\n    msg.payload = \"There is some one in my shop\"\n}else\n{\n    msg.payload = \"There is no one in my shop\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["4b431150.5bf0e"]]},{"id":"71ae0b79.e70504","type":"function","z":"4817656b.865abc","name":"test","func":"if(msg.payload == \"ON\"){\n    msg.payload = \"Toilet Light: ON\"\n}else\n{\n    msg.payload = \"Toilet Light: OFF\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["fdf8f670.a8c7d8"]]},{"id":"14ff2c36.ec3e04","type":"function","z":"4817656b.865abc","name":"","func":"msg.color = (msg.payload < 400) ? \"lime\":\"red\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1180,"wires":[["627a5931.cfe538"]]},{"id":"83924fce.0322","type":"ui_chart","z":"4817656b.865abc","name":"","group":"802d2385.2d5a9","order":2,"width":12,"height":6,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff6400","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":1220,"wires":[[]]},{"id":"b9e174b6.79b0c8","type":"exec","z":"4817656b.865abc","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Temp","x":390,"y":1420,"wires":[["6bcac337.85f46c"],[],[]]},{"id":"49531053.116be","type":"inject","z":"4817656b.865abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":193,"y":1482,"wires":[["32db5eee.ef76f2","b9e174b6.79b0c8","bf324cfc.addc9"]]},{"id":"6bcac337.85f46c","type":"function","z":"4817656b.865abc","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1400,"wires":[["2570dcb7.52c114","7512851a.e2f66c"]]},{"id":"32db5eee.ef76f2","type":"exec","z":"4817656b.865abc","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"LOAD","x":388,"y":1481.5,"wires":[["c3dd8ec8.1b3d6"],[],[]]},{"id":"bf324cfc.addc9","type":"exec","z":"4817656b.865abc","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"MEM","x":391,"y":1550,"wires":[["4f1cbc08.932a34"],[],[]]},{"id":"4f1cbc08.932a34","type":"ui_text","z":"4817656b.865abc","group":"6bdf69fb.e40a18","order":3,"width":"5","height":1,"name":"","label":"Free Memory :","format":"{{msg.payload}}%","layout":"row-center","x":860,"y":1560,"wires":[]},{"id":"2570dcb7.52c114","type":"ui_chart","z":"4817656b.865abc","name":"","group":"6bdf69fb.e40a18","order":1,"width":12,"height":5,"label":"CPU Temperature 5 minutes","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":1400,"wires":[[]]},{"id":"7512851a.e2f66c","type":"ui_text","z":"4817656b.865abc","group":"6bdf69fb.e40a18","order":2,"width":"3","height":1,"name":"","label":"CPU Temp","format":"{{msg.payload}}","layout":"row-center","x":850,"y":1340,"wires":[]},{"id":"c3dd8ec8.1b3d6","type":"ui_text","z":"4817656b.865abc","group":"6bdf69fb.e40a18","order":4,"width":4,"height":1,"name":"","label":"CPU Load: ","format":"{{msg.payload}} %","layout":"row-center","x":850,"y":1500,"wires":[]},{"id":"8a1e6599.96d0d8","type":"mqtt-broker","z":"","name":"mqtt","broker":"192.168.10.130","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"79777cb8.fa0f64","type":"ui_group","z":"","name":"DHT11 Sensor","tab":"7bedec71.c6e4e4","order":3,"disp":true,"width":"13","collapse":false},{"id":"7d04b590.0499fc","type":"ui_group","z":"","name":"DHT22 Sensor","tab":"7bedec71.c6e4e4","order":2,"disp":true,"width":"12","collapse":false},{"id":"47614173.4da9b","type":"ui_group","z":"","name":"Switch Controller","tab":"7bedec71.c6e4e4","order":1,"disp":true,"width":"12","collapse":false},{"id":"3282ea3f.f75246","type":"ui_group","z":"","name":"INFRARED Sensor V1","tab":"7bedec71.c6e4e4","order":5,"disp":true,"width":"12","collapse":false},{"id":"802d2385.2d5a9","type":"ui_group","z":"","name":"Gas MQ-2 Sensor","tab":"7bedec71.c6e4e4","order":6,"disp":true,"width":"12","collapse":false},{"id":"4d1ac63c.a37318","type":"ui_group","z":"","name":"PIR HC-SR501 Sensor","tab":"7bedec71.c6e4e4","order":4,"disp":true,"width":"12","collapse":false},{"id":"6bdf69fb.e40a18","type":"ui_group","z":"","name":"CPU","tab":"7bedec71.c6e4e4","order":7,"disp":true,"width":"12","collapse":false},{"id":"7bedec71.c6e4e4","type":"ui_tab","z":"","name":"Makerlab Dashboard ","icon":"timeline","order":1,"disabled":false,"hidden":false}]